{% extends 'common/panel.html' %}

{% block panel %}
<h2> Disclaimer </h2>
<p> Marine Planner is owned and operated by 
    <a href="http://www.nature.org/" target="_blank">The Nature Conservancy</a> and 
    <a href="http://www.ecotrust.org/" target="_blank">Ecotrust</a>.
    This website contains a compilation of data sets and is considered preliminary, subject to further change, 
    and intended for informational purposes only.  Any draft analysis layers or resulting draft maps produced 
    in Washington Marine Planner are for planning discussion purposes only and should not be construed as approved 
    or decided upon by any state agency or organization involved in the state's marine planning process.  Neither 
    The Nature Conservancy nor Ecotrust warrant or guarantee the quality of the content on this website.  Neither 
    organization shall be held liable for improper or incorrect use of the data described and/or contained in 
    Washington Marine Planner.  Any sale, distribution, loan, or offering the use of these digital data, in whole 
    or in part, is prohibited without the approval of The Nature Conservancy and Ecotrust.  The use of these data 
    to produce other GIS products and services with the intent to sell for a profit is prohibited without the 
    written consent of The Nature Conservancy and Ecotrust.  All parties using Washington Marine Planner and/or 
    receiving these data must be informed of these restrictions.  The Nature Conservancy and Ecotrust shall be 
    acknowledged as information and/or data contributors to any reports or other products derived from Washington 
    Marine Planner.  Users of the decision support tool should also be aware of The Nature Conservancy's 
    <a href="http://www.nature.org/aboutus/governance/terms-of-use/index.htm?src=f9" target="_blank">Terms of Use</a>
    and <a href="http://www.nature.org/aboutus/governance/privacy-policy.xml" target="_blank">Website Privacy Policy</a>.  
</p>

{% endblock panel %}