{% extends 'common/panel.html' %}
{% block title %}{{instance.name}}{% endblock title %}
{% block panel %}

<h1>Folder result for {{instance.name}}</h1>
    <div class="tabs">
        <ul>
            <li><a href="#Inputs"><span>Inputs</span></a></li>
            <li><a href="#results"><span>Multi-Objective Tradeoffs</span></a></li>
        </ul>
        <div id="Inputs">
            <ul class="metadata">
              {% if instance.user.first_name and instance.user.last_name %} 
                <li class="creator">Created By {{instance.user.first_name}} {{instance.user.last_name}}</li>
              {% else %}
                <li class="creator">Created By {{instance.user.username}}</li>
              {% endif %}
                <li class="created">Created {{instance.date_created|date:"d M, Y P"}}</li>
                <li class="modified">Modified {{instance.date_modified|date:"d M, Y P"}}</li>
                <br class="clear" />
            </ul>
            <h2>Description</h2>
                {% if instance.description %}
                <p>{{instance.description}}</p>
                {% else %}
                <p>No description provided</p>
                {% endif %}
            
            <h2>Hint</h2>
            <div class="draghint">
                <img src="{{MEDIA_URL}}common/images/dragdrophint.png" />
                To add features to this collection, simply drag and drop features in and out of it from the sidebar after saving.
                <br style="clear:both;" />
            </div>
        </div>
        
        <div id="results" class="tabs">
            <ul>
                <li><a href="#Tradeoff_Instructions"><span>Options</span></a></li>
                <li><a href="{% url tradeoff_analysis instance.pk %}"><span>Show Analysis</span></a></li>
            </ul>
            <div id="Tradeoff_Instructions">
                <h3>Multi-Objective Analysis</h3>
                <p>The multi-objective tradeoffs report compares the potential valuation of your shapes for both Wind Energy
                   and Conservation.  
                </p>
                <p>The results are displayed such that shapes that are valuated higher for Conservation will be further along 
                   the x-axis (to the right), and those that are valuated higher for Wind Energy Potential will be further 
                   along the y-axis (toward the top).  Conflict areas, those areas that have high valuations for both objectives, 
                   will be seen in the upper-right quadrant of the graph.  
                </p>
            </div>
        </div>
        
    </div>
    

{% endblock panel %}
