{% extends 'common/panel.html' %}
{% block title %}{{instance.name}}{% endblock title %}
{% block panel %}

<h1><small><small>SMP Characterization: </small></small>"{{instance.name}}"</h1>
    <div class="tabs">
        <ul>
            <li><a href="#Inputs"><span>Attributess</span></a></li>
            <li><a href="#results"><span>Reports</span></a></li>
        </ul>
        <div id="Inputs">
            <ul class="metadata">
              {% if instance.user.first_name and instance.user.last_name %} 
                <li class="creator">Created By {{instance.user.first_name}} {{instance.user.last_name}}</li>
              {% else %}
                <li class="creator">Created By {{instance.user.username}}</li>
              {% endif %}
                <li class="created">Created {{instance.date_created|date:"d M, Y P"}}</li>
                <li class="modified">Modified {{instance.date_modified|date:"d M, Y P"}}</li>
                <br class="clear" />
            </ul>
            
            <h2>Description</h2>
                {% if instance.description %}
                <p>{{instance.description}}</p>
                {% else %}
                <p><i>No Description</i></p>
                {% endif %}
        </div>
        
        <div id="results" class="tabs">
            <ul>
                <li><a href="#WindEnergy_Instructions"><span>Instructions</span></a></li>
                <li><a href="{% url smp_analysis instance.pk 'beach_erosion' %}"><span>Beach Erosion</span></a></li>
                <li><a href="{% url smp_analysis instance.pk 'shoreline_use' %}"><span>Shoreline Use</span></a></li>
            </ul>
            <div id="WindEnergy_Instructions">
                <h3>SMP Characterization Site Reports</h3>
                <p><strong>Beach Erosion</strong> reports provide information about the current state of beach erosion in your site. </p>
                <p><strong>Shoreline Use</strong> reports provide information about the current shoreline uses for your site. </p>
            </div>
        </div>
        
    </div>

{% endblock panel %}
