{% extends 'common/map.html' %}

{% block layersConfig %}
    // setup which kml files are shown in the data layers panel
    //options.rememberMapExtent = false; 
    //lingcod.addLayer('http://d243vm3w7590ia.cloudfront.net/State/Wa_tersea/Wa_tersea.kmz', {setExtent: true});
    {% if is_public_layers %}        
    lingcod.addLayer('{% url public-data-layers %}', {setExtent: true});
    {% endif %}
    {% if user.is_authenticated and is_privatekml %}
    lingcod.addLayer('{% url layers-privatekml-list session_key=session_key %}');            
    {% endif %}
{% endblock layersConfig %}

{% block tabs %}
{% if user.is_authenticated %}
<li><a href="#MyShapes"><span>My Shapes</span></a></li> 
<li><a href="#SharedShapes"><span>Shared With Me</span></a></li>             
{% endif %}
{% endblock tabs %}

{% block shapeDefinitionPanelManipulators %}
<div class="manipulators" style="display:none;">
    <h3>Optionally exclude any of the following regions from your Area of Inquiry</h3>
    {#  These divs get populated in media/manipulators/js/manipulators.js #}
    <div class="requiredManipulators"> </div>
    <div class="optionalManipulators"> </div>
    <hr />
</div>
{% endblock shapeDefinitionPanelManipulators %}


{% block shapeDefinitionPanelBeforeManipulatorContent %}   
The following clipping operations were performed on your shape:                 
{% endblock shapeDefinitionPanelBeforeManipulatorContent %}

{% block shapeDefinitionPanelAfterManipulatorContent %}     
If you ever need to change your shape, we also keep a copy of the lines you draw, so you will always have the un-clipped version for editing.
<br><br>
{% endblock shapeDefinitionPanelAfterManipulatorContent %}
