{% extends 'common/panel.html' %}

{% block panel %}
<h2> Washington Marine Planner </h2>
<p>The Washington Marine Planner is being developed in support of Pacific County's Shoreline Master Program.</p>
<p>More information on SMPs for the state of Washington can be found 
<a href="http://www.ecy.wa.gov/programs/sea/shorelines/smp/index.html" target="_blank">here</a>.
</p>
<h2>Next Steps</h2>
<p>The Marine Planner has been designed to help you:
    <ul>
        <li><p>Identify <img src='/media/wmm/img/multi.png'/> Scenarios for oceanic use objectives that include Renewable Energy and Conservation
        <li><p>Design <img src='/media/wmm/img/aoi.png'/> Areas (including <img src='/media/wmm/img/smp.png'/> Sites specific to the SMP process) for further analysis, and then 
        <li><p>Analyze your Areas for <img src='/media/wmm/img/analysis.png'/> Tradeoffs between the conservation and energy objectives
    </ul>
</p>
<p>Get started by selecting the Create New menu on the My Shapes panel or click 'help' to view a Tutorial and FAQ.



<style>
    div.about {
            font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
            font-size: 12px;
            margin: 10px;
            padding: 0;
            color: #4C4C4C;
    }
    .about > li { padding: 6px;}
    .subabout > li { list-style-type: circle; } 
    li p {
        margin-left: 20px !important;
    }
</style>


{% endblock panel %}
