<script type="text/javascript" charset="utf-8">
$('#check_all').click(function(event) {
    $('input.parameters').each( function() { $(this).attr('checked', 'checked'); });
});
$('#uncheck_all').click(function(event) {
    $('input.parameters').each( function() { $(this).removeAttr('checked'); });
});
</script>
<p></p>
<ul>
{% for parameter in parameter_list %}
    <li>
        <label for="id_input_parameters_{{forloop.counter0}}">
            <input  id="id_input_parameters_{{forloop.counter0}}" 
                    class="parameters" 
                    type="checkbox" 
                    value="{{parameter.id}}" 
                    name="input_parameters" 
                    {% if parameter.id in checked_list %}
                    checked="checked"
                    {% endif %}
                    >
            {% if parameter.id == 3 %}
                Depth
            {% else %}
                {{ parameter.name }}
            {% endif %}
        </label>
    </li>
{% endfor %}
</ul>
<input type="button" id="check_all" value="Check All">
<input type="button" id="uncheck_all" value="Uncheck All">
<p></p>
    