{% extends 'common/panel.html' %}
{% block title %}{{instance.name}}{% endblock title %}
{% block panel %}
<h1>Scenario result for {{instance.name}}</h1>
    <div class="tabs">
        <ul>
            <li><a href="#Inputs"><span>Inputs</span></a></li>
            {% if instance.done %}
            <li><a href="#results"><span>Results</span></a></li>
            {% endif %}
        </ul>
        <div id="Inputs">
            <ul class="metadata">
              {% if instance.user.first_name and instance.user.last_name %} 
                <li class="creator">Created By {{instance.user.first_name}} {{instance.user.last_name}}</li>
              {% else %}
                <li class="creator">Created By {{instance.user.username}}</li>
              {% endif %}
                <li class="created">Created {{instance.date_created|date:"d M, Y P"}}</li>
                <li class="modified">Modified {{instance.date_modified|date:"d M, Y P"}}</li>
                <br class="clear" />
            </ul>
            <h2>Description</h2>
                {% if instance.description %}
                <p>{{instance.description}}</p>
                {% else %}
                <p>No Description</p>
                {% endif %}
            <h2>Parameters</h2>
                <div class="box species" id="temp">
                    {% if 1 in instance.get_input_parameters %}
                    <p> Distance to Shore <= {{ instance.input_dist_shore }} km</p>
                    {% endif %}
                    {% if 2 in instance.get_input_parameters %}
                    <p> Distance to Port <= {{ instance.input_dist_port }} km</p>
                    {% endif %}
                    {% if 3 in instance.get_input_parameters %}
                    <p> Depth Range: {{ instance.input_min_depth }} m to {{instance.input_max_depth}} m</p>
                    {% endif %}
                    {% if 5 in instance.get_input_parameters %}
                    <p> Substrates : </p>
                    <ul>
                      {% for substrate in instance.input_substrate.all %}
                        <li> {{substrate.name}} </li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            <h2>Attachments</h2>
                <div class="box species">
                    {% if instance.file %}
                    <p><a href="{{instance.file.url}}" target="_blank">{{instance.filename}}</a></p>
                    {% else %}
                    <p>No Attachments</p>
                    {% endif %}
                </div>
        </div>
        
        {% if instance.done %}
        <div id="results">
           <h3>Multipolygon with {{instance.output_geom|length}} individual polygons</h3>
           <h3>Total Area</h3>
           <p>{{ instance.output_area|floatformat }} sq. km</p>
           <h3>Mapcalc equation</h3>
           <pre>{{ instance.output_mapcalc }}</pre>
        </div>
        {% endif %}
    </div>

{% endblock panel %}
