{% extends 'common/panel.html' %}
{% block title %}{{instance.name}}{% endblock title %}
{% block panel %}

<h1>Results for "{{instance.name}}"</h1>
    <div class="tabs">
        <ul>
            <li><a href="#Inputs"><span>Inputs</span></a></li>
            <li><a href="#results"><span>Reports</span></a></li>
        </ul>
        <div id="Inputs">
            <ul class="metadata">
              {% if instance.user.first_name and instance.user.last_name %} 
                <li class="creator">Created By {{instance.user.first_name}} {{instance.user.last_name}}</li>
              {% else %}
                <li class="creator">Created By {{instance.user.username}}</li>
              {% endif %}
                <li class="created">Created {{instance.date_created|date:"d M, Y P"}}</li>
                <li class="modified">Modified {{instance.date_modified|date:"d M, Y P"}}</li>
                <br class="clear" />
            </ul>
            
            <h2>Feature Type</h2>
                <p>Wind Energy Site</p>
                
            <h2>Description</h2>
                {% if instance.description %}
                <p>{{instance.description}}</p>
                {% else %}
                <p>No description provided</p>
                {% endif %}
        </div>
        
        <div id="results" class="tabs">
            <ul>
                <li><a href="#WindEnergy_Instructions"><span>Instructions</span></a></li>
                <li><a href="{% url wind_analysis instance.pk 'general' %}"><span>General</span></a></li>
                <li><a href="{% url wind_analysis instance.pk 'energy' %}"><span>Energy</span></a></li>
            </ul>
            <div id="WindEnergy_Instructions">
                <h3>Wind Energy Site Reports</h3>
                <p><strong>General</strong> reports provide information about the general aspects of your site. </p>
                <p><strong>Energy</strong> reports provide information about the energy potential of your site. </p>
            </div>
        </div>
        
    </div>

{% endblock panel %}
