{% extends 'common/panel.html' %}
{% block title %}{{instance.name}}{% endblock title %}
{% block panel %}

<script type="text/javascript" charset="utf-8">
    madrona.onShow(function(){
    
        var folder_id = {{instance.pk}};
        $('#Tradeoff_Analysis').hide();
        $('#change_objectives').hide();
        $('#toggle_legend').hide();
        
        $('#show_analysis').click( function(event) { 
            
            var selected_x = $('select.x-axis').val();
            
            var selected_y = $('select.y-axis').val();
                        
            //if (selected_x != selected_y) {
            $.post('general/tradeoff/show-analysis', {'folder_id': folder_id, 'selected_x': selected_x, 'selected_y': selected_y}, function(data) {
                $('#Tradeoff_Analysis').html(data);
            });
            $('#Tradeoff_Instructions').hide();
            $('#Tradeoff_Analysis').show();
            $('#show_analysis').hide();
            $('#change_objectives').show();
            $('#toggle_legend').show();
            //} else {
                
            //}
            
        });
        
        $('#change_objectives').click( function(event) {    
            $('#Tradeoff_Analysis').hide();
            $('#Tradeoff_Instructions').show();
            $('#change_objectives').hide();
            $('#toggle_legend').hide();
            $('#show_analysis').show();
        });
        
        $('#table_button').click( function(event) {
            $.post('general/tradeoff/show-table', {'folder_id': folder_id}, function(data) {
                $('#Tradeoff_Table').html(data);
            });
        });
            

    });
    
    function toggleDiv(divId, srcId) {
        $("#"+divId).toggle();
        if ($("#"+srcId).text() == 'Read More') { 
            $("#"+srcId).text('Hide Text'); 
        } else if ($("#"+srcId).text() == 'Hide Text') { 
            $("#"+srcId).text('Read More'); 
        }
        if ($("#"+srcId).text() == 'More') { 
            $("#"+srcId).text('Hide'); 
        } else if ($("#"+srcId).text() == 'Hide') { 
            $("#"+srcId).text('More'); 
        }
    }
</script>

<h1>
    <img src="/media/wmm/img/folder.png"/>
    <small><small>Folder: </small></small> 
    "{{instance.name}}"
</h1>
    <div class="tabs">
        <ul>
            <li><a href="#Inputs"><span>Attributes</span></a></li>
            <li><a href="#results"><span>Multi-Objective Tradeoffs</span></a></li>
        </ul>
        <div id="Inputs">
            <ul class="metadata">
              {% if instance.user.first_name and instance.user.last_name %} 
                <li class="creator">Created By {{instance.user.first_name}} {{instance.user.last_name}}</li>
              {% else %}
                <li class="creator">Created By {{instance.user.username}}</li>
              {% endif %}
                <li class="created">Created {{instance.date_created|date:"d M, Y P"}}</li>
                <li class="modified">Modified {{instance.date_modified|date:"d M, Y P"}}</li>
                <br class="clear" />
            </ul>
            
            <h2>Contents</h2>
                {% if instance.num_scenarios > 0 %}
                <p>Multi-Objective Scenarios: {{instance.num_scenarios}}</p>
                {% endif %}
                {% if instance.num_conservation_sites > 0 %}
                <p>Conservation Sites: {{instance.num_conservation_sites}}</p>
                {% endif %}
                {% if instance.num_windenergy_sites > 0 %}
                <p>Wind Energy Sites: {{instance.num_windenergy_sites}}</p>
                {% endif %}
                {% if instance.num_scenarios == 0 and instance.num_conservation_sites == 0 and instance.num_windenergy_sites == 0 %}
                <p><i>Currently empty</i></p>
                {% endif %}
            
            <h2>Description</h2>
                {% if instance.description %}
                <p>{{instance.description}}</p>
                {% else %}
                <p><i>No Description</i></p>
                {% endif %}
            
            <h2>Hint</h2>
            <div class="draghint">
                <img src="{{MEDIA_URL}}common/images/dragdrophint.png" />
                To add features to this collection, simply drag and drop features in and out of it from the sidebar after saving.
                <br style="clear:both;" />
            </div>
        </div>
        
        <div id="results" class="tabs">
        {% if instance.num_aois > 0 %}
            <ul>
                <li><a href="#visual"><span>Chart</span></a></li>
                <li><a id="table_button" href="#text"><span>Table</span></a></li>
            </ul>
            <div id="visual">
                <div id="Tradeoff_Instructions" class="step">
                    <p>Choose two objectives to be charted in the Tradeoff Analysis Report. &nbsp;
                    <form>
                        <table>
                            <tr>
                                <td width="15%">
                                    &nbsp;
                                </td>
                                <td align="center" width="30%">
                                    <label>Objective #1</label>
                                </td>
                                <td width="10%">
                                    &nbsp;
                                </td>
                                <td align="center" width="30%">
                                    <label>Objective #2</label>
                                </td>
                                <td width="15%">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td width="15%">
                                    &nbsp;
                                </td>
                                <td width="30%" align="center">
                                    <label>
                                    <select class="x-axis" name="x-axis">
                                        <option value="Wind Energy">Wind Energy</option>
                                        <option value="Tidal Energy">Tidal Energy</option>
                                        <option value="Wave Energy">Wave Energy</option>
                                        <option value="Conservation" selected>Conservation</option>
                                    </select>
                                    </label>
                                </td>
                                <td width="10%">
                                    &nbsp;
                                </td>
                                <td width="30%" align="center">
                                    <label><select class="y-axis" name="y-axis">
                                        <option value="Wind Energy" selected>Wind Energy</option>
                                        <option value="Tidal Energy">Tidal Energy</option>
                                        <option value="Wave Energy">Wave Energy</option>
                                        <option value="Conservation">Conservation</option>
                                    </select></label>
                                </td>
                                <td width="15%">
                                    &nbsp;
                                </td>
                            </tr>
                        </table>
                    </form>
                    <p>
                    <a id="displayInstructions" href="javascript:toggleDiv('instructions', 'displayInstructions');">More</a>
                    </p>
                    <div id="instructions" style="display: none">
                        <p>The multi-objective tradeoffs report helps you compare the scores of your shapes.</p>
                        <p>The results are displayed such that shapes that are scored higher for Objective #1 will be further along 
                           the x-axis (to the right), and those that are scored higher for Objective #2 will be further 
                           along the y-axis (toward the top).  
                        <p>Conflict areas, those areas that have high scores for both objectives, 
                           will be seen in the upper-right quadrant of the graph.  
                        </p>
                    </div>
                </div>
                
                <div id="Tradeoff_Analysis" class="step"></div>
                
                <div class="wizard_nav" style="width:100%">
                    <a href="#" class="button" style="float:left;" onclick="this.blur(); return false;" id="change_objectives"><span>&lt; Change Objectives</span></a>
                    <a href="#" class="button" style="float:right;" onclick="javascript:toggleLegend('toggle_legend'); return false;" id="toggle_legend"><span>Hide Legend</span></a>
                    <a href="#" class="button" style="float:right;" onclick="this.blur(); return false;" id="show_analysis"><span>Show Chart &gt;</span></a> 
                </div>
            </div>
            <div id="text">
                <div id="Tradeoff_Table" class="step">
                    <p>coming soon...</p>
                </div>
            </div>
        {% else %}
            <div id="empty">
                </br>
                <p>Your folder, <b>{{instance.name}}</b>, is currently without any Areas of Interest.</p>
                <p>Tradeoff reports will become available once the folder has been populated.<p>
            </div>
        {% endif %}
        </div>
        
    </div>
    
<style type="text/css">
div .field > label { font-size: 12px; display: inline; }
div .step { 
    -moz-box-shadow: 5px 5px 5px #ddd;
    -webkit-box-shadow: 5px 5px 5px #ddd;
    box-shadow: 5px 5px 5px #ddd; 
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    border: 1px #ddd solid;
    padding: 6px;
    margin-top: 4px;
    margin-bottom: 8px;
    background-color: white; 
    background-repeat: no-repeat;
    min-height: 54px;
}
div .inputfield { padding-bottom: 14px; }
span.form-image { float: left; margin-left: -66px; }
span.form-image > img { width:46px; height:46px; }
</style>

{% endblock panel %}
