{% extends "common/panel.html" %}
{% block title %}{{title}}{% endblock %}
{% block panel %}
<script type="text/javascript" charset="utf-8">
    lingcod.onShow(function(){
        lingcod.setupForm($('#featureform'));
        
        //categories_list = [ 'energy', 'conservation', 'fisheries', 'development' ];
        
        //currently ordered the same as on the form 
        objectives_list = [ 'tidal_energy', 'wave_energy', 'wind_energy', 'offshore_conservation', 'nearshore_conservation', 'water_column_conservation', 'offshore_fishing', 'shellfish_aquaculture', 'shoreside_development' ];
        objectives_dict = { 'energy': ['tidal_energy', 'wave_energy', 'wind_energy'],
                            'conservation': ['offshore_conservation', 'nearshore_conservation', 'water_column_conservation'],
                            'fisheries': ['offshore_fishing', 'shellfish_aquaculture'], 
                            'development': ['shoreside_development'] };
                            
        parameters_list = [ 'distance_shore', 'distance_port', 'depth', 'substrate'];
        parameters_dict = { 'tidal_energy': ['distance_shore', 'distance_port', 'depth', 'substrate'],
                            'wave_energy': ['distance_shore', 'distance_port', 'depth', 'substrate'],
                            'wind_energy': ['distance_shore', 'distance_port', 'depth', 'substrate'],
                            'offshore_conservation': ['depth', 'substrate'],
                            'nearshore_conservation': ['substrate'],
                            'water_column_conservation': ['depth'],
                            'offshore_fishing': ['distance_port', 'depth', 'substrate'],
                            'shellfish_aquaculture': ['distance_shore', 'depth', 'substrate'],
                            'shoreside_development': ['distance_shore'] };
        
        var step = 1;
        var max_step = 4;
        var first_next = true;
        var is_edit = !(!$('#id_name').val());
        
        //var initial_categories = [];
        //var selected_categories = [];
        
        var initial_objectives = {};
        var selected_objectives = {};
        
        /*
        var all_cats = $('input.categories');
        $.each(all_cats, function(index, cat) {
            if (cat.checked) {
                selected_categories.push(categories_list[cat.value-1]);
            }
        });
        initial_categories = selected_categories;
        */
        
        //get initially selected objectives -- might only need to do this when editing...?
        selected_objectives = get_selected_objectives();
        initial_objectives = selected_objectives;
        
        var initial_params = {};
        var selected_params = {};
        if (is_edit) {
            console.log('is edit');
            var params = $('input.parameters');  
            
            $.each(selected_objectives, function(key, value) {
                console.log('key='+key);
                console.log('value='+value);
                $.each(value, function(index, obj) {
                    console.log('class=parameters_'+obj);
                    var obj_params = $('input.parameters_'+obj);
                    param_list = []
                    $.each(obj_params, function(index, param) { 
                        console.log(param);
                        if (param.checked) {
                            console.log(param + ' is checked');
                            //NOTE:  The following relies on db table pk's starting at 1 
                            param_list.push(parameters_dict[obj][param.value-1]);
                        }
                    });
                    selected_params[obj] = param_list;
                });
            });
            console.log('selected_params = ' + selected_params);
        }
        
        function get_selected_objectives() {
            var selected_energy_objectives = [];
            var energy_objectives = $('input.energy_objectives');
            $.each(energy_objectives, function(index, obj) {
                if (obj.checked) {                
                    selected_energy_objectives.push(objectives_dict['energy'][obj.value-1]);
                }
            });
            selected_objectives['energy'] = selected_energy_objectives;
            
            var selected_conservation_objectives = [];
            var conservation_objectives = $('input.conservation_objectives');
            $.each(conservation_objectives, function(index, obj) {
                if (obj.checked) {
                    selected_conservation_objectives.push(objectives_dict['conservation'][obj.value-1]);
                }
            });
            selected_objectives['conservation'] = selected_conservation_objectives;
            
            var selected_development_objectives = [];
            var development_objectives = $('input.development_objectives');
            $.each(development_objectives, function(index, obj) {
                if (obj.checked) {
                    selected_development_objectives.push(objectives_dict['development'][obj.value-1]);
                }
            });
            selected_objectives['development'] = selected_development_objectives;
            
            var selected_fisheries_objectives = [];
            var fisheries_objectives = $('input.fisheries_objectives');
            $.each(fisheries_objectives, function(index, obj) {
                if (obj.checked) {
                    selected_fisheries_objectives.push(objectives_dict['fisheries'][obj.value-1]);
                }
            });
            selected_objectives['fisheries'] = selected_fisheries_objectives;
            
            return selected_objectives;
        };
        
        function get_selected_params() {
            var selected_params = {};
            $.each(selected_objectives, function(key, value) {
                $.each(value, function(index, obj) {
                    var obj_params = $('input.parameters_'+obj);
                    param_list = []
                    $.each(obj_params, function(index, param) {
                        if (param.checked) {
                            param_list.push(parameters_dict[obj][param.value-1]);
                        }
                    });
                    selected_params[obj] = param_list;
                });
            });
            return selected_params;
        };
        
        function identical(list1, list2) {
            if (list1.length != list2.length) {
                return false;
            }
            var a = list1.sort();
            var b = list2.sort();
            for (var i = 0; i < a.length; i++) {
                if (a[i] != b[i]) {
                    return false;
                }
            }
            return true;
        };
        
        function validate(step) {
            return_value = true;
            if (step == 1) {
                selected_objectives = get_selected_objectives();
                //console.log(selected_objectives);
                if (selected_objectives['energy'].length == 0 && selected_objectives['conservation'].length == 0 && selected_objectives['fisheries'].length == 0 && selected_objectives['development'].length == 0) {
                    alert("Select at least 1 Objective.");
                    return_value = false;
                } 
            } else if (step == 2) {
                selected_params = get_selected_params();
                $.each(selected_objectives, function(key, value) {
                    $.each(value, function(index, obj) {
                        if (selected_params[obj].length == 0) {
                            alert("Select at least 1 Parameter for each Objective.");
                            return_value = false;
                            return;
                        }
                    });
                });
            }
            return return_value;
        }; 

        function wizard(action) {
            if (step == 1 && action == 'next') {
                if (validate(step)) {
                    step += 1;
                    $.each(objectives_dict, function(key, value) {
                        $.each(value, function(index, val) {
                            $('#'+val+'_params_header').hide();
                            $('#'+val+'_params').hide();
                        });
                    });
                    $.each(selected_objectives, function(key, value) {
                        $.each(value, function(index, obj) {
                            $('#'+obj+'_params_header').show();
                            $('#'+obj+'_params').show();
                            $.each($('input.parameters_'+obj), function() {
                                if ( !(obj in selected_params) || ($.inArray(parameters_dict[$(this).value-1], selected_params[obj]) > -1) ) {
                                    $(this).attr("checked", "checked");
                                }
                            });
                        });
                    });
                    first_next = false;
                    initial_objectives = selected_objectives;
                }
            } else if (step ==2 && action == 'prev') {
                step -= 1;
                selected_params = get_selected_params();
                initial_params = selected_params;
            } else if (step == 2 && action == 'next') {
                validated = validate(step);
                //console.log(validated);
                if (validated) {
                    step += 1;
                    selected_params = get_selected_params();
                    /*
                    $.post('/scenario/form/post-params', {'selected_params': selected_params, 'selected_objectives': selected_objectives}, function(data) {
                        $('#step3_data').html(data);
                    });
                    */
                    //hide all widgets and widget headers in step 3
                    $.each(objectives_list, function(index, obj) {
                        //console.log('obj is: ' + '#'+obj+'_widgets_header');
                        $('#'+obj+'_widgets_header').hide();
                        $.each(parameters_list, function(index, param) {
                            //console.log('param is: ' + '#'+param+'_'+obj+'_widget');
                            $('#'+param+'_'+obj+'_widget').hide();
                        });
                    });
                    //show only those widgets and widget headers that have been selected by the user
                    $.each(selected_params, function(obj, param_list) {
                        $('#'+obj+'_widgets_header').show();
                        //console.log(param_list);
                        $(param_list).each( function(index, param) {
                            //console.log('#'+param+'_'+obj);
                            $('#'+param+'_'+obj+'_widget').show();
                        });
                    });
                }
            } else if (step < max_step && action == 'next') {
                step += 1;
            } else if (step > 1 && action == 'prev') {
                step -= 1;
            }
            $('div.step').each(function(index) {
                $(this).hide();
            });
            $('div#step' + step).show();

            if (step == 1) {
                $('#button_prev').hide();
            } else {
                $('#button_prev').show();
            }

            if (step == max_step) {
                $('#button_next').hide();
                $('.submit_button').show();
            } else {
                $('#button_next').show();
                $('.submit_button').hide();
            }
        };
        
        $('#button_prev').click( function() { wizard('prev'); });
        $('#button_next').click( function() { wizard('next'); });
        wizard();
        
        $('ul.errorlist').each( function() {
                $('div#error_bar').html("<ul class='errorlist'><li>We encountered an error while processing your scenarios. Please ensure all required elements have been completed.</li></ul>");
        });
        
        
        $('#check_all').click(function(event) {
            $('input.parameters').each( function() { $(this).attr('checked', 'checked'); });
        });
        $('#uncheck_all').click(function(event) {
            $('input.parameters').each( function() { $(this).removeAttr('checked'); });
        });           
    });
    
    function toggleObjectives(obj_id, src_id) {
        $("#"+obj_id).fadeToggle(100); //slideToggle
        if ($("#"+src_id).text() == 'Show Objectives') { 
            $("#"+src_id).text('Hide Objectives'); 
        } else { 
            $("#"+src_id).text('Show Objectives'); 
        }
    };
    function toggleParams(param_id, src_id) {
        $("#"+param_id).fadeToggle(100); //slideToggle
        //$("#"+param_id).toggle();
        if ($("#"+src_id).text() == 'Show Parameters') { 
            $("#"+src_id).text('Hide Parameters'); 
        } else { 
            $("#"+src_id).text('Show Parameters'); 
        }
    };
</script>

<style type="text/css">
div .field > label { font-size: 12px; display: inline; }
div .step { 
    -moz-box-shadow: 5px 5px 5px #ddd;
    -webkit-box-shadow: 5px 5px 5px #ddd;
    box-shadow: 5px 5px 5px #ddd; 
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    border: 1px #ddd solid;
    padding: 6px;
    margin-top: 4px;
    margin-bottom: 8px;
    background-color: white; 
    background-repeat: no-repeat;
    min-height: 54px;
}
div .inputfield { padding-bottom: 14px; }
span.form-image { float: left; margin-left: -66px; }
span.form-image > img { width:46px; height:46px; }
</style>

{% if form.media %} {{ form.media }} {% endif %}
<h1>{{ title }}</h1>
<form id="featureform" action="{{action}}" method="post"> 
  {% for hidden in form.hidden_fields %}
    <div style="display:none;">
        {{ hidden.errors }}
    </div>
    {{ hidden }}
  {% endfor %}
  <div id="error_bar"></div>
  
  <div class="step" id="step1">
    <h3> Step 1 of 4 </h3>
    <p> <strong>Choose 1 or more Objective </strong> from the following categories. <strong>*</strong><p>
    <div id="objectives" class="inputfield">
        <p style="text-indent:1em"><strong>Renewable Energy</strong>     
        (<a id="toggle_energy_objectives" href="javascript:toggleObjectives('energy_objectives', 'toggle_energy_objectives');">Hide Objectives</a>)</p>
        <div id="energy_objectives">
            <p>{{ form.input_objectives_energy }} </p>
        </div>
        <p style="text-indent:1em"><strong>Conservation</strong> 
        (<a id="toggle_conservation_objectives" href="javascript:toggleObjectives('conservation_objectives', 'toggle_conservation_objectives');">Hide Objectives</a>)</p>
        <div id="conservation_objectives">
            <p>{{ form.input_objectives_conservation }} </p>
        </div>
        <p style="text-indent:1em"><strong>Fisheries</strong> 
        (<a id="toggle_fisheries_objectives" href="javascript:toggleObjectives('fisheries_objectives', 'toggle_fisheries_objectives');">Hide Objectives</a>)</p>
        <div id="fisheries_objectives">
            <p>{{ form.input_objectives_fisheries }} </p>
        </div>
        <p style="text-indent:1em"><strong>Development</strong> 
        (<a id="toggle_development_objectives" href="javascript:toggleObjectives('development_objectives', 'toggle_development_objectives');">Hide Objectives</a>)</p>
        <div id="development_objectives">
            <p>{{ form.input_objectives_development }} </p>
        </div>
    </div>
  </div>
    
  <!-- Should step2 be moved to a separate template populated via a server call? -->
  <div class="step" id="step2">
    <h3> Step 2 of 4 </h3>
    <p><strong>Select the Parameters </strong> from your chosen objectives. <strong>*</strong><p>
    <div id="step2_data">
    
        <!-- Renewable Energy Objectives-->
        <div id="tidal_energy_params_header" style="text-indent:1em">
            <p><strong>Tidal Energy</strong> 
            (<a id="showParams_tidal_energy" href="javascript:toggleParams('tidal_energy_params', 'showParams_tidal_energy');">Hide Parameters</a>)</p>
        </div>
        <div id="tidal_energy_params">
            <p>{{ form.input_parameters_tidal_energy }} </p>
        </div>
    
        <div id="wave_energy_params_header" style="text-indent:1em">
            <p><strong>Wave Energy</strong> 
            (<a id="showParams_wave_energy" href="javascript:toggleParams('wave_energy_params', 'showParams_wave_energy');">Hide Parameters</a>)</p>
        </div>
        <div id="wave_energy_params">
            <p>{{ form.input_parameters_wave_energy }} </p>
        </div>
    
        <div id="wind_energy_params_header" style="text-indent:1em">
            <p><strong>Wind Energy</strong> 
            (<a id="showParams_wind_energy" href="javascript:toggleParams('wind_energy_params', 'showParams_wind_energy');">Hide Parameters</a>)</p>
        </div>
        <div id="wind_energy_params">
            <p>{{ form.input_parameters_wind_energy }} </p>
        </div>
    
        <!-- Conservation Objectives -->
        <div id="offshore_conservation_params_header" style="text-indent:1em">
            <p><strong>Offshore Conservation</strong>  
            (<a id="showParams_offshore_conservation" href="javascript:toggleParams('offshore_conservation_params', 'showParams_offshore_conservation');">Hide Parameters</a>)</p>
        </div>
        <div id="offshore_conservation_params">
            <p>{{ form.input_parameters_offshore_conservation }} </p>
        </div>
        
        <div id="nearshore_conservation_params_header" style="text-indent:1em">
            <p><strong>Nearshore Conservation</strong>  
            (<a id="showParams_nearshore_conservation" href="javascript:toggleParams('nearshore_conservation_params', 'showParams_nearshore_conservation');">Hide Parameters</a>)</p>
        </div>
        <div id="nearshore_conservation_params">
            <p>{{ form.input_parameters_nearshore_conservation }} </p>
        </div>
    
        <div id="water_column_conservation_params_header" style="text-indent:1em">
            <p><strong>Water Column Conservation</strong>  
            (<a id="showParams_water_column_conservation" href="javascript:toggleParams('water_column_conservation_params', 'showParams_water_column_conservation');">Hide Parameters</a>)</p>
        </div>
        <div id="water_column_conservation_params">
            <p>{{ form.input_parameters_water_column_conservation }} </p>
        </div>
    
        <!-- Fisheries Objectives -->
        <div id="offshore_fishing_params_header" style="text-indent:1em">
            <p><strong>Offshore Fishing</strong>  
            (<a id="showParams_offshore_fishing" href="javascript:toggleParams('offshore_fishing_params', 'showParams_offshore_fishing');">Hide Parameters</a>)</p>
        </div>
        <div id="offshore_fishing_params">
            <p>{{ form.input_parameters_offshore_fishing }} </p>
        </div>
        
        <div id="shellfish_aquaculture_params_header" style="text-indent:1em">
            <p><strong>Shellfish Aquaculture</strong>  
            (<a id="showParams_shellfish_aquaculture" href="javascript:toggleParams('shellfish_aquaculture_params', 'showParams_shellfish_aquaculture');">Hide Parameters</a>)</p>
        </div>
        <div id="shellfish_aquaculture_params">
            <p>{{ form.input_parameters_shellfish_aquaculture }} </p>
        </div>
    
        <!-- Development Objectives -->
        <div id="shoreside_development_params_header" style="text-indent:1em">
            <p><strong>Shoreside Development</strong>  
            (<a id="showParams_shoreside_development" href="javascript:toggleParams('shoreside_development_params', 'showParams_shoreside_development');">Hide Parameters</a>)</p>
        </div>
        <div id="shoreside_development_params">
            <p>{{ form.input_parameters_shoreside_development }} </p>
        </div>
    
        <!--  can also use style="display: none" to hide the div contents -->
    </div>
  </div>

  <div class="step" id="step3">
    <h3> Step 3 of 4 </h3>
    <p><strong>Provide suitable values </strong>for each of your chosen parameters. <strong>*</strong></p>
    <p></p>
    <div id="step3_data">
    
        <!-- Tidal Energy -->
        <div id="tidal_energy_widgets_header" style="text-indent:1em">
            <p><strong>Tidal Energy</strong>  
            (<a id="showWidgets_tidal_energy" href="javascript:toggleParams('tidal_energy_widgets', 'showWidgets_tidal_energy');">Hide Parameters</a>):</p>
        </div>
        <div id="tidal_energy_widgets">
            <div id="distance_shore_tidal_energy_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_dist_shore_tidal_energy.label_tag }}
                    {{ form.input_dist_shore_tidal_energy.errors }}
                    {{ form.input_dist_shore_tidal_energy }}            
                </div>
            </div>
            <div id="distance_port_tidal_energy_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_dist_port_tidal_energy.label_tag }}
                    {{ form.input_dist_port_tidal_energy.errors }}
                    {{ form.input_dist_port_tidal_energy }}            
                </div>
            </div>
            <div id="depth_tidal_energy_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_depth_tidal_energy.label_tag }} 
                    {{ form.input_depth_tidal_energy.errors }}
                    
                    {{ form.input_min_depth_tidal_energy }}            
                    to
                    {{ form.input_max_depth_tidal_energy }}            

                    {{ form.input_depth_tidal_energy }}            
                </div>
            </div>
            <div id="substrate_tidal_energy_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_substrate_tidal_energy.label_tag }}
                    {{ form.input_substrate_tidal_energy.errors }}
                    <p>{{ form.input_substrate_tidal_energy }} </p>
                </div>
            </div>
        </div>
        
        <!-- Wave Energy -->
        <div id="wave_energy_widgets_header" style="text-indent:1em">
            <p><strong>Wave Energy</strong>  
            (<a id="showWidgets_wave" href="javascript:toggleParams('wave_energy_widgets', 'showWidgets_wave');">Hide Parameters</a>):</p>
        </div>
        <div id="wave_energy_widgets">
            <div id="distance_shore_wave_energy_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_dist_shore_wave_energy.label_tag }}
                    {{ form.input_dist_shore_wave_energy.errors }}
                    {{ form.input_dist_shore_wave_energy }}            
                </div>
            </div>
            <div id="distance_port_wave_energy_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_dist_port_wave_energy.label_tag }}
                    {{ form.input_dist_port_wave_energy.errors }}
                    {{ form.input_dist_port_wave_energy }}            
                </div>
            </div>
            <div id="depth_wave_energy_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_depth_wave_energy.label_tag }} 
                    {{ form.input_depth_wave_energy.errors }}
                    
                    {{ form.input_min_depth_wave_energy }}            
                    to
                    {{ form.input_max_depth_wave_energy }}            

                    {{ form.input_depth_wave_energy }}            
                </div>
            </div>
            <div id="substrate_wave_energy_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_substrate_wave_energy.label_tag }}
                    {{ form.input_substrate_wave_energy.errors }}
                    <p>{{ form.input_substrate_wave_energy }} </p>
                </div>
            </div>
        </div>
        
        <!-- Wind Energy -->
        <div id="wind_energy_widgets_header" style="text-indent:1em">
            <p><strong>Wind Energy</strong>  
            (<a id="showWidgets_wind" href="javascript:toggleParams('wind_energy_widgets', 'showWidgets_wind');">Hide Parameters</a>):</p>
        </div>
        <div id="wind_energy_widgets">
            <div id="distance_shore_wind_energy_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_dist_shore_wind_energy.label_tag }}
                    {{ form.input_dist_shore_wind_energy.errors }}
                    {{ form.input_dist_shore_wind_energy }}            
                </div>
            </div>
            <div id="distance_port_wind_energy_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_dist_port_wind_energy.label_tag }}
                    {{ form.input_dist_port_wind_energy.errors }}
                    {{ form.input_dist_port_wind_energy }}            
                </div>
            </div>
            <div id="depth_wind_energy_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_depth_wind_energy.label_tag }} 
                    {{ form.input_depth_wind_energy.errors }}
                    
                    {{ form.input_min_depth_wind_energy }}            
                    to
                    {{ form.input_max_depth_wind_energy }}            

                    {{ form.input_depth_wind_energy }}            
                </div>
            </div>
            <div id="substrate_wind_energy_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_substrate_wind_energy.label_tag }}
                    {{ form.input_substrate_wind_energy.errors }}
                    <p>{{ form.input_substrate_wind_energy }} </p>
                </div>
            </div>
        </div>
        
        <!-- Offshore Conservation -->
        <div id="offshore_conservation_widgets_header" style="text-indent:1em">
            <p><strong>Offshore Conservation</strong>  
            (<a id="showWidgets_conservation" href="javascript:toggleParams('offshore_conservation_widgets', 'showWidgets_conservation');">Hide Parameters</a>):</p>
        </div>
        <div id="offshore_conservation_widgets">
            <div id="distance_shore_offshore_conservation_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_dist_shore_offshore_conservation.label_tag }}
                    {{ form.input_dist_shore_offshore_conservation.errors }}
                    {{ form.input_dist_shore_offshore_conservation }}            
                </div>
            </div>
            <div id="distance_port_offshore_conservation_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_dist_port_offshore_conservation.label_tag }}
                    {{ form.input_dist_port_offshore_conservation.errors }}
                    {{ form.input_dist_port_offshore_conservation }}            
                </div>
            </div>
            <div id="depth_offshore_conservation_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_depth_offshore_conservation.label_tag }} 
                    {{ form.input_depth_offshore_conservation.errors }}
                    
                    {{ form.input_min_depth_offshore_conservation }}            
                    to
                    {{ form.input_max_depth_offshore_conservation }}            

                    {{ form.input_depth_offshore_conservation }}            
                </div>
            </div>
            <div id="substrate_offshore_conservation_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_substrate_offshore_conservation.label_tag }}
                    {{ form.input_substrate_offshore_conservation.errors }}
                    <p>{{ form.input_substrate_offshore_conservation }} </p>
                </div>
            </div>
        </div>
    
        <!-- Nearshore Conservation -->
        <div id="nearshore_conservation_widgets_header" style="text-indent:1em">
            <p><strong>Nearshore Conservation</strong>  
            (<a id="showWidgets_nearshore_conservation" href="javascript:toggleParams('nearshore_conservation_widgets', 'showWidgets_nearshore_conservation');">Hide Parameters</a>):</p>
        </div>
        <div id="nearshore_conservation_widgets">
            <div id="distance_shore_nearshore_conservation_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_dist_shore_nearshore_conservation.label_tag }}
                    {{ form.input_dist_shore_nearshore_conservation.errors }}
                    {{ form.input_dist_shore_nearshore_conservation }}            
                </div>
            </div>
            <div id="distance_port_nearshore_conservation_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_dist_port_nearshore_conservation.label_tag }}
                    {{ form.input_dist_port_nearshore_conservation.errors }}
                    {{ form.input_dist_port_nearshore_conservation }}            
                </div>
            </div>
            <div id="depth_nearshore_conservation_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_depth_nearshore_conservation.label_tag }} 
                    {{ form.input_depth_nearshore_conservation.errors }}
                    
                    {{ form.input_min_depth_nearshore_conservation }}            
                    to
                    {{ form.input_max_depth_nearshore_conservation }}            

                    {{ form.input_depth_nearshore_conservation }}            
                </div>
            </div>
            <div id="substrate_nearshore_conservation_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_substrate_nearshore_conservation.label_tag }}
                    {{ form.input_substrate_nearshore_conservation.errors }}
                    <p>{{ form.input_substrate_nearshore_conservation }} </p>
                </div>
            </div>
        </div>
    
        <!-- Water Column Conservation -->
        <div id="water_column_conservation_widgets_header" style="text-indent:1em">
            <p><strong>Water Column Conservation</strong>  
            (<a id="showWidgets_water_column_conservation" href="javascript:toggleParams('water_column_conservation_widgets', 'showWidgets_water_column_conservation');">Hide Parameters</a>):</p>
        </div>
        <div id="water_column_conservation_widgets">
            <div id="distance_shore_water_column_conservation_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_dist_shore_water_column_conservation.label_tag }}
                    {{ form.input_dist_shore_water_column_conservation.errors }}
                    {{ form.input_dist_shore_water_column_conservation }}            
                </div>
            </div>
            <div id="distance_port_water_column_conservation_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_dist_port_water_column_conservation.label_tag }}
                    {{ form.input_dist_port_water_column_conservation.errors }}
                    {{ form.input_dist_port_water_column_conservation }}            
                </div>
            </div>
            <div id="depth_water_column_conservation_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_depth_water_column_conservation.label_tag }} 
                    {{ form.input_depth_water_column_conservation.errors }}
                    
                    {{ form.input_min_depth_water_column_conservation }}            
                    to
                    {{ form.input_max_depth_water_column_conservation }}            

                    {{ form.input_depth_water_column_conservation }}            
                </div>
            </div>
            <div id="substrate_water_column_conservation_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_substrate_water_column_conservation.label_tag }}
                    {{ form.input_substrate_water_column_conservation.errors }}
                    <p>{{ form.input_substrate_water_column_conservation }} </p>
                </div>
            </div>
        </div>
        
        <!-- Offshore Fishing -->
        <div id="offshore_fishing_widgets_header" style="text-indent:1em">
            <p><strong>Offshore Fishing</strong>  
            (<a id="showWidgets_offshore_fishing" href="javascript:toggleParams('offshore_fishing_widgets', 'showWidgets_offshore_fishing');">Hide Parameters</a>):</p>
        </div>
        <div id="offshore_fishing_widgets">
            <div id="distance_shore_offshore_fishing_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_dist_shore_offshore_fishing.label_tag }}
                    {{ form.input_dist_shore_offshore_fishing.errors }}
                    {{ form.input_dist_shore_offshore_fishing }}            
                </div>
            </div>
            <div id="distance_port_offshore_fishing_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_dist_port_offshore_fishing.label_tag }}
                    {{ form.input_dist_port_offshore_fishing.errors }}
                    {{ form.input_dist_port_offshore_fishing }}            
                </div>
            </div>
            <div id="depth_offshore_fishing_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_depth_offshore_fishing.label_tag }} 
                    {{ form.input_depth_offshore_fishing.errors }}
                    
                    {{ form.input_min_depth_offshore_fishing }}            
                    to
                    {{ form.input_max_depth_offshore_fishing }}            

                    {{ form.input_depth_offshore_fishing }}            
                </div>
            </div>
            <div id="substrate_offshore_fishing_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_substrate_offshore_fishing.label_tag }}
                    {{ form.input_substrate_offshore_fishing.errors }}
                    <p>{{ form.input_substrate_offshore_fishing }} </p>
                </div>
            </div>
        </div>
        
        <!-- Shellfish Aquaculture -->
        <div id="shellfish_aquaculture_widgets_header" style="text-indent:1em">
            <p><strong>Shellfish Aquaculture</strong>  
            (<a id="showWidgets_shellfish_aquaculture" href="javascript:toggleParams('shellfish_aquaculture_widgets', 'showWidgets_shellfish_aquaculture');">Hide Parameters</a>):</p>
        </div>
        <div id="shellfish_aquaculture_widgets">
            <div id="distance_shore_shellfish_aquaculture_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_dist_shore_shellfish_aquaculture.label_tag }}
                    {{ form.input_dist_shore_shellfish_aquaculture.errors }}
                    {{ form.input_dist_shore_shellfish_aquaculture }}            
                </div>
            </div>
            <div id="distance_port_shellfish_aquaculture_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_dist_port_shellfish_aquaculture.label_tag }}
                    {{ form.input_dist_port_shellfish_aquaculture.errors }}
                    {{ form.input_dist_port_shellfish_aquaculture }}            
                </div>
            </div>
            <div id="depth_shellfish_aquaculture_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_depth_shellfish_aquaculture.label_tag }} 
                    {{ form.input_depth_shellfish_aquaculture.errors }}
                    
                    {{ form.input_min_depth_shellfish_aquaculture }}            
                    to
                    {{ form.input_max_depth_shellfish_aquaculture }}            

                    {{ form.input_depth_shellfish_aquaculture }}            
                </div>
            </div>
            <div id="substrate_shellfish_aquaculture_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_substrate_shellfish_aquaculture.label_tag }}
                    {{ form.input_substrate_shellfish_aquaculture.errors }}
                    <p>{{ form.input_substrate_shellfish_aquaculture }} </p>
                </div>
            </div>
        </div>
        
        <!-- Shoreside Development -->
        <div id="shoreside_development_widgets_header" style="text-indent:1em">
            <p><strong>Shoreside Development</strong>  
            (<a id="showWidgets_shoreside_development" href="javascript:toggleParams('shoreside_development_widgets', 'showWidgets_shoreside_development');">Hide Parameters</a>):</p>
        </div>
        <div id="shoreside_development_widgets">
            <div id="distance_shore_shoreside_development_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_dist_shore_shoreside_development.label_tag }}
                    {{ form.input_dist_shore_shoreside_development.errors }}
                    {{ form.input_dist_shore_shoreside_development }}            
                </div>
            </div>
            <div id="distance_port_shoreside_development_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_dist_port_shoreside_development.label_tag }}
                    {{ form.input_dist_port_shoreside_development.errors }}
                    {{ form.input_dist_port_shoreside_development }}            
                </div>
            </div>
            <div id="depth_shoreside_development_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_depth_shoreside_development.label_tag }} 
                    {{ form.input_depth_shoreside_development.errors }}
                    
                    {{ form.input_min_depth_shoreside_development }}            
                    to
                    {{ form.input_max_depth_shoreside_development }}            

                    {{ form.input_depth_shoreside_development }}            
                </div>
            </div>
            <div id="substrate_shoreside_development_widget" class="inputfield">
                <div class="field required">
                    {{ form.input_substrate_shoreside_development.label_tag }}
                    {{ form.input_substrate_shoreside_development.errors }}
                    <p>{{ form.input_substrate_shoreside_development }} </p>
                </div>
            </div>
        </div>
    
        
    </div>
  </div>

<div class="step" id="step4">
    <h3> Step 4 of 4 </h3>
    <p> <strong>Provide a name</strong> to identify your scenario </p>
    <p></p>
    <div class="field required">
        {{ form.name.label_tag }}
        {{ form.name.errors }}
        {{ form.name }}            
    </div>
    <p> <strong>Optionally</strong>, you may <strong>add a description </strong>and/or <strong>attach a file.</strong> </p>
    <div>
        {{ form.description.label_tag }}
        {{ form.description.errors }}
        {{ form.description }}            
    </div>
    <div>
        {{ form.support_file.label_tag }}
        {{ form.support_file.errors }} 
        {% if form.support_file.help_text %}
            <p>{{ form.support_file.help_text }}</p>            
        {% endif %}
        <p>{{ form.support_file }}</p>         
    </div>
</div>

<p><input type="submit" value="submit"></p>
</form>


<div class="wizard_nav" style="width:100%">
    <a href="#" class="button" style="float:left;" onclick="this.blur(); return false;" id="button_prev"><span>&lt; Previous</span></a>
    <a href="#" class="button" style="float:right;" onclick="this.blur(); return false;" id="button_next"><span>Next &gt;</span></a>
</div>

<div>
    <a href="#" class="cancel_button button red" onclick="this.blur(); return false;"><span>Cancel</span></a>
    <a href="#" class="submit_button button" onclick="this.blur(); return false;"><span>Submit</span></a>
</div>


{% endblock %}
