{% extends 'common/panel.html' %}
{% block title %}{{instance.name}}{% endblock title %}
{% block panel %}

<h1><small><small>AOI: </small></small> {{instance.name}}</h1>
    <div class="tabs">
        <ul>
            <li><a href="#Inputs"><span>Attributes</span></a></li>
            <li><a href="#results"><span>Reports</span></a></li>
        </ul>
        <div id="Inputs">
            <ul class="metadata">
              {% if instance.user.first_name and instance.user.last_name %} 
                <li class="creator">Created By {{instance.user.first_name}} {{instance.user.last_name}}</li>
              {% else %}
                <li class="creator">Created By {{instance.user.username}}</li>
              {% endif %}
                <li class="created">Created {{instance.date_created|date:"d M, Y P"}}</li>
                <li class="modified">Modified {{instance.date_modified|date:"d M, Y P"}}</li>
                <br class="clear" />
            </ul>
            
            <h2>Objective Scores <small>(out of 100)</small>:</h2>
                {% if instance.benthic_score >= 0 %}
                <p>Benthic Conservation: {{instance.benthic_score}}</p>
                {% else %}
                <p><i>Benthic Conservation: not yet unavailable</i></p>
                {% endif %}
                
            <h2>Description</h2>
                {% if instance.description %}
                <p>{{instance.description}}</p>
                {% else %}
                <p><i>No Description</i></p>
                {% endif %}
        </div>
        
        <div id="results">
           <p>Reports coming soon...</p>
        </div>
        
    </div>

{% endblock panel %}
