{% extends 'common/panel.html' %}
{% block title %}{{instance.name}}{% endblock title %}
{% block panel %}

<h1><small><small>AOI: </small></small> {{instance.name}}</h1>
    <div class="tabs">
        <ul>
            <li><a href="#Inputs"><span>Attributes</span></a></li>
            <li><a href="#conservation_reports"><span>Conservation Reports</span></a></li>
            <li><a href="#energy_reports"><span>Energy Reports</span></a></li>
        </ul>
        <div id="Inputs">
            <ul class="metadata">
              {% if instance.user.first_name and instance.user.last_name %} 
                <li class="creator">Created By {{instance.user.first_name}} {{instance.user.last_name}}</li>
              {% else %}
                <li class="creator">Created By {{instance.user.username}}</li>
              {% endif %}
                <li class="created">Created {{instance.date_created|date:"d M, Y P"}}</li>
                <li class="modified">Modified {{instance.date_modified|date:"d M, Y P"}}</li>
                <br class="clear" />
            </ul>
            
            <h2>Objective Scores <small>(out of 100)</small>:</h2>
                {% if instance.conservation_score >= 0 %}
                <p>Conservation: {{instance.conservation_score}}</p>
                {% else %}
                <p><i>Conservation: not yet unavailable</i></p>
                {% endif %}
                {% if instance.tidalenergy_score >= 0 %}
                <p>Tidal Energy: {{instance.tidalenergy_score}}</p>
                {% else %}
                <p><i>Tidal Energy: not yet unavailable</i></p>
                {% endif %}
                {% if instance.waveenergy_score >= 0 %}
                <p>Wave Energy: {{instance.waveenergy_score}}</p>
                {% else %}
                <p><i>Wave Energy: not yet unavailable</i></p>
                {% endif %}
                {% if instance.windenergy_score >= 0 %}
                <p>Wind Energy: {{instance.windenergy_score}}</p>
                {% else %}
                <p><i>Wind Energy: not yet unavailable</i></p>
                {% endif %}                                  
                
            <h2>Description</h2>
                {% if instance.description %}
                <p>{{instance.description}}</p>
                {% else %}
                <p><i>No Description</i></p>
                {% endif %}
        </div>
        
        <div id="conservation_reports" class="tabs">
            <ul>
                <li><a href="#Conservation_Instructions"><span>Instructions</span></a></li>
                <li><a href="{% url aoi_analysis instance.pk 'physical' %}"><span>Physical</span></a></li>
                <li><a href="{% url aoi_analysis instance.pk 'biological' %}"><span>Biological</span></a></li>
            </ul>
            <div id="Conservation_Instructions">
                <h3>Conservation Reports</h3>
                <p><strong>Physical</strong> conservation reports provide information on the physical aspects of your site as they relate to conservation. </p>
                <p><strong>Biological</strong> conservation reports provide information on the biological aspects of your site as they relate to conservation. </p>
            </div>
        </div>
        
        <div id="energy_reports" class="tabs">
            <ul>
                <li><a href="#Energy_Instructions"><span>Instructions</span></a></li>
                <li><a href="{% url aoi_analysis instance.pk 'wind' %}"><span>Wind</span></a></li>
                <li><a href="{% url aoi_analysis instance.pk 'wave' %}"><span>Wave</span></a></li>
                <li><a href="{% url aoi_analysis instance.pk 'tidal' %}"><span>Tidal</span></a></li>
            </ul>
            <div id="Energy_Instructions">
                <h3>Renewable Energy Reports</h3>
                <p><strong>Wind</strong> energy reports provide information on the potential for wind energy generation. </p>
                <p><strong>Wave</strong> energy reports provide information on the potential for wave energy generation. </p>
                <p><strong>Tidal</strong> energy reports provide information on the potential for tidal energy generation. </p>
            </div>
        </div>
        
    </div>

{% endblock panel %}
